# devenv
.devenv

# generated sources
gateway/src/generated

# python trash
__pycache__

# sensor - pio/clang(d)
# tools
sensor/.pio
sensor/.cache
sensor/compile_commands.json

# identity
sensor/src/identity.h

# emulator
sensor/misc/*
!sensor/misc/EBSimUnoEthCurses
!sensor/misc/emulino.eeprom
!sensor/misc/infile.txt
!sensor/misc/infiles/
